<div class="container mx-auto mt-4 flex-none pl-4 pr-4">
  <div class="inline-block">
    <div role="tablist" class="tabs tabs-lifted">
      <LinkTo
        @route="admin.contact.index"
        role="tab"
        class="tab tab-active"
      >Kontakte</LinkTo>
    </div>
  </div>
</div>