<div class="container mx-auto mt-4 flex-none">
  <div class="inline-block">
    <div role="tablist" class="tabs tabs-lifted">
      <a role="tab" class="tab tab-active">Kontakte</a>
    </div>
  </div>
</div>