<div class="flex-1 h-32 grow shrink container mx-auto flex flex-col pl-4 pr-4">
  <div
    class="border border-base-200 rounded-xl mt-2 mb-2 p-4 grow shrink overflow-auto"
  >

    {{yield}}
  </div>
</div>